<%inherit file="/base.html"/>

<%block name="content">

    <div class="home-page" id="app">
        <div class="wrappers">
            <i-form :label-width="100">
               <form-item label="选择业务">
                   <i-select v-model="biz_id">
                        <i-option v-for="item in bizs" :value="item.bk_biz_id">{{item.bk_biz_name}}</i-option>
                   </i-select>
               </form-item>
               <form-item label="请输入IP">
                      <i-input v-model="ip_filter" type="textarea" :rows="4" placeholder="请输入IP..." />
               </form-item>
               <form-item>
                        <i-button type="primary" @click="search_host" :loading="search_host_loading">查询主机</i-button>    
                </form-item>
            </i-form>
            <Card>
                <p slot="title">
                    <Icon type="ios-film-outline"></Icon>
                    主机列表
                </p>
                <i-Table border :columns="hostColumn" :data="hosts" >

                </i-Table>
            </Card>
            
        </div>

    </div>
</%block>
<script>
    Vue.prototype.$http = axios;
    Vue.use(iview);
    new Vue({
        el : "#app",
        data (){
            return {
                biz_id : "",
                bizs : [],
                ip_filter : "",
                hostColumn :  [
                    {
                        title: '内网IP',
                        key: 'bk_host_innerip'
                    },
                    {
                        title: '系统名',
                        key: 'bk_os_name'
                    },
                    {
                        title: '主机名',
                        key: 'bk_host_name'
                    },
                    {
                        title: '云区域',
                        key: 'bk_cloud_name'
                    },
                    {
                        title: '操作',
                        key: 'action',
                        width: 260,
                        align: 'center',
                        render: (h, params) => {
                            if(this.hosts[params.index].is_monitored){
                                return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show_performance(params.index)
                                        }
                                    }
                                }, '当前性能'),
                                
                                h('Button', {
                                    props: {
                                        type: 'warning',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.add_host_toMonitor(params.index)
                                        }
                                    }
                                }, '移除监控')
                            ]);
                            }
                            else{
                                return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.show_performance(params.index)
                                        }
                                    }
                                }, '当前性能'),
                              
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.add_host_toMonitor(params.index)
                                        }
                                    }
                                }, '添加监控'),
                                h('a', {
                                    props:{
                                        
                                    },
                                    attrs:{
                                        href : 'https://www.baidu.com',
                                        target : '_blank'
                                    }
                                }, '测试跳转'),
                            ]);
                            }

                            
                        }
                    }
                   
                ],
                hosts : [],
                search_host_loading : false
            }
        },

        methods:{
            search_biz(){
                this.$http.get(site_url + 'search_biz_from_cmdb').then(
                    result => {
                        this.bizs = result.data.data;
                        if (this.bizs.length > 0 ){
                            this.biz_id = this.bizs[0].bk_biz_id;
                        }

                    }
                )
            },

            search_host(){
                this.search_host_loading = true;
                this.$http.post(site_url + 'search_host_from_cmdb/',{
                    bk_biz_id : this.biz_id,
                    ip_list : this.ip_filter
                }).then(
                    result => {
                        this.hosts = result.data.data;
                        this.search_host_loading = false;
                    }
                )
            },

            add_host_toMonitor(index){
                this.$http.post(site_url + 'create_host_to_db/', {
                    host : this.hosts[index]
                }).then(result => {
                    
                })
            }
           
        },

        mounted() {
            this.search_biz();
        }

        

    });
</script>